
header.container
{
    border-radius: 10px;
    border: 5px double #ffffff;
    background-color: #000000;
    padding: 20px;
    box-shadow: 5px 5px 10px;
    text-shadow: 2px 2px 4px black;
    font-size: 20px;
}
button
{
    font-size: 50px;
    line-height: 50px;
    border: 5px solid rgb(211, 211, 211);

}
